Repository kelsiebesingeryeh/refactor-tractor-wc, pull requests merged in 2021-01, with the labels that each got.

#16 Recipe class
  src/data/test-data.js
  src/recipe.js
  src/user.js
  test/recipe-test.js
Labels: Recipe Class, Testing

#19 Cookbook
  src/cookbook.js
  src/data/test-data.js
  src/index.html
  test/cookbook-test.js
Labels: Cookbook Class, Testing

#20 Feature/pantry test kh
  src/data/test-data.js
  src/pantry.js
  src/user.js
  test/pantry-test.js
  test/user-test.js
Labels: enhancement

#21 Feature iteration 1 users
  src/data/test-data.js
  src/pantry.js
  src/user.js
  test/user-test.js
Labels: Testing, User Class

#22 Feature/iteration1 dom
  .github/functionality-notes.md
  src/data/test-data.js
  src/pantry.js
  test/cookbook-test.js
  test/pantry-test.js
  test/user-test.js
Labels: bug, documentation

#34 Iteration 1 refactor dom
  src/cookbook.js
  src/index.html
  src/scripts.js
  src/user.js
  test/cookbook-test.js
  test/user-test.js
Labels: User Class, script.js

#35 Add missing ingredients convert to recipe method
  src/data/test-data.js
  src/pantry.js
  test/pantry-test.js
Labels: Iteration 1, Pantry Class, Testing, enhancement

#43 Dom updates
  .DS_Store
  src/cookbook.js
  src/domUpdates.js
  src/scripts.js
Labels: dom-manipulation

#46 Iteration 3 refactor sass
  src/css/_buttons.scss
  src/css/_cards.scss
  src/css/_variables.scss
  src/css/base.scss
  src/css/index.scss
  src/css/styles.scss
  src/domUpdates.js
  src/index.html
  src/scripts.js
Labels: styling

#62 Revert "Feature/scss icons styling"
  .DS_Store
  src/css/_buttons.scss
  src/css/_cards.scss
  src/css/_recipe-details.scss
  src/css/_variables.scss
  src/css/index.scss
  src/domUpdates.js
  src/images/basket.ico
  src/images/basket.png
  src/images/checkmark.png
  src/images/plus.png
  src/images/search-hover.png
  src/images/search.png
  src/images/star-filled.png
  src/images/star.png
  src/index.html
  src/scripts.js
Labels: styling

#65 Pantry debug
  src/data/test-data.js
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
  test/pantry-test.js
Labels: Pantry Class, dom-manipulation, script.js

#66 Scripts.js: recipe to cook list display, promise.all, and catches
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
Labels: script.js

#68 Feature/missing ing calc
  src/css/_recipe-details.scss
  src/css/index.scss
  src/domUpdates.js
  src/pantry.js
  src/recipe.js
  src/scripts.js
Labels: Pantry Class, enhancement

#70 Feature responsive design
  src/css/_cards.scss
  src/css/index.scss
  src/domUpdates.js
  src/images/hamburger.png
  src/index.html
  src/scripts.js
Labels: CSS, styling

#71 Feature/can i cook it
  src/css/_cards.scss
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
Labels: Pantry Class, script.js

#73 Fix scripts file
  package-lock.json
  package.json
  src/css/_responsive.scss
  src/css/index.scss
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
Labels: script.js, styling

#74 Styled all new buttons, and can I cook card
  src/css/_buttons.scss
  src/css/_cards.scss
  src/css/_recipe-details.scss
  src/css/_variables.scss
  src/css/index.scss
  src/domUpdates.js
Labels: CSS

#75 Remain in filtered recipes when removing favorite or recipe to cook
  src/domUpdates.js
  src/scripts.js
Labels: bug, dom-manipulation

#76 Feature/accessibility
  src/css/_buttons.scss
  src/css/index.scss
  src/domUpdates.js
  src/index.html
  src/scripts.js
Labels: enhancement

#77 Refactor/scripts
  src/cookbook.js
  src/css/index.scss
  src/domUpdates.js
  src/scripts.js
Labels: refactor, script.js

#81 read me rough draft
  README.md
Labels: documentation

#83 Refactor pantry class and test
  src/cookbook.js
  src/css/_buttons.scss
  src/css/_recipe-details.scss
  src/css/index.scss
  src/data/test-data.js
  src/domUpdates.js
  src/index.html
  src/pantry.js
  src/recipe.js
  src/scripts.js
  src/styles.css
  src/user.js
  test/cookbook-test.js
  test/pantry-test.js
  test/recipe-test.js
  test/sample-test.js
  test/user-test.js
Labels: Pantry Class, Recipe Class, refactor

#85 Disable/enable buttons
  src/css/_buttons.scss
  src/css/_variables.scss
  src/domUpdates.js
  src/scripts.js
Labels: dom-manipulation, styling

#84 added alert and refactored pantry
  src/css/_cards.scss
  src/domUpdates.js
  src/index.html
  src/pantry.js
  src/scripts.js
Labels: Pantry Class, nice-to-have, script.js

#87 Update README.md
  README.md
Labels: readme

#86 fixed header and card mrgins-button funtionality
  src/css/_buttons.scss
  src/css/index.scss
  src/domUpdates.js
  src/user.js
Labels: CSS
